$primary-color: #3498db;

h3 {
  color: wheat;
}

.card-button {
  background-color: $primary-color;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.primary-button {
  background-color: rgb(255, 85, 0);
  color: rgb(32, 11, 11);
}

.card-button:hover {
  background-color: darken($primary-color, 10%);
}
